<section class="w3l-footer-28-main">
    <div class="footer-28">
        <div class="wrapper">
            <div class="d-grid grid-col-4 footer-top-28">
                <div class="footer-list-28 mobile-footer-full">
                    <h6 class="footer-title-28">Contact Info</h6>
                    <ul>
                        <li>
                            <p><span class="fa fa-map-marker"></span> Ahmedabad, Gujrat </p>
                        </li>
                        <li><span class="fa fa-phone"></span> Mobile <a href="tel:+7-800-999-800">+(91) 972 434 7889 </a>
                        </li>
                       
                        <li><span class="fa fa-envelope-open-o"></span><a href="https://p.w3layouts.com/cdn-cgi/l/email-protection#ef998a888a9b8e8d838a9caf828e8683c18c8082" class="mail"> <span class="__cf_email__" data-cfemail="1b6d7e7c7e6f7a79777e685b767a727735787476">fruitantfarm@gmail.com</span></a></li>
                    </ul>
                </div>
                <div class="footer-list-28 mobile-footer-full">
                    <h6 class="footer-title-28">Latest News</h6>
                    <ul class="posts">
                        <a href="shop"><img src="assets/images/e1.png" class="img-responsive" alt="" />
                            <p>Vegetables and organic fruits<span>Oct 28th, 2019</span></p>
                        </a>
                        <a href="shop"><img src="assets/images/e2.png" class="img-responsive" alt="" />
                            <p>Vegetables and organic fruits<span>Oct 31st, 2019</span></p>
                        </a>
                        <a href="shop"><img src="assets/images/e3.png" class="img-responsive" alt="" />
                            <p>Vegetables and organic fruits<span>Nov 2nd, 2019</span></p>
                        </a>
                    </ul>
                </div>
                <div class="footer-list-28 mobile-footer-half">
                    <h6 class="footer-title-28">Useful Links</h6>
                    <ul>
                        <li><a href="about">About us</a></li>
                        <li><a href="team">Our farmers</a></li>
                        <li><a href="services">Our services</a></li>
                        <li><a href="contact">Contact us</a></li>
                        <li><a href="shop">Fruit and Veg gallery</a></li>
                    </ul>
                </div>
                <div class="footer-list-28 mobile-footer-half">
                    <h6 class="footer-title-28 margin-top">Tags</h6>
                    <a href="#tag" class="tag">Vegetables</a>
                    <a href="#tag" class="tag">Fruits</a>
                    <a href="#tag" class="tag">Organic</a>
                    <a href="#tag" class="tag">Farming</a>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <div class="wrapper">
                <p class="copy-footer-29">© 2003 Fruitant Farm </p>
            </div>
        </div>
    </div>
</section>