<section class="w3l-header-4">
    <header id="headers4-block">
        <div class="wrapper">
            <div class="d-grid nav-mobile-block header-align">
                <div class="logo">
                    <a class="brand-logo" href=""><span><span class="fa fa-viadeo" aria-hidden="true"></span> Fruitant</span></a>
                    <!-- if logo is image enable this   
                    <a class="brand-logo" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                </div>
                <input type="checkbox" id="nav" />
                <label class="nav" for="nav"></label>
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li><a href="/users">Home</a></li>
                        <li><a href="/users/about">About</a></li>
                        <li><a href="/users/services">Services</a></li>
                        <li><a href="/users/team">Our team</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                       
                            <a href="#shop">Shop<span class="angle-dropdown" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-6">
                            <ul>
                                <li><a href="shop" class="drop-text">Fruits</a></li>
                                <li><a href="shop" class="drop-text">Vegetables </a></li>
                            </ul>
                        </li>
                        <li><a href="/users/e-commerce-viewcart">ViewCart</a></li>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/contact">Contact</a></li>
                        <li><a href="/users/feedback">Reviews</a></li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>
  </section>