<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fruitant farm</title>
    <link rel="stylesheet" href="/users/assets/css/style-freedom.css ">
</head>

<body>
    <script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
    <div id="codefund"><!-- fallback content --></div>
    <script src="../../../../../../../codefund.io/properties/441/funder.js" async="async"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-98H8KRKT85'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-98H8KRKT85');
    </script>
    <meta name="robots" content="noindex">

    <body>
        <!-- Demo bar start -->
        <link rel="stylesheet" href="../../../../../../assests/css/font-awesome.min.css">
        <!-- New toolbar-->
        <style>
            * {
                box-sizing: border-box;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }


            #w3lDemoBar.w3l-demo-bar {
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
                padding: 40px 5px;
                padding-top: 70px;
                margin-bottom: 70px;
                background: #0D1326;
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
            }

            #w3lDemoBar.w3l-demo-bar a {
                display: block;
                color: #e6ebff;
                text-decoration: none;
                line-height: 24px;
                opacity: .6;
                margin-bottom: 20px;
                text-align: center;
            }

            #w3lDemoBar.w3l-demo-bar span.w3l-icon {
                display: block;
            }

            #w3lDemoBar.w3l-demo-bar a:hover {
                opacity: 1;
            }

            #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
                color: #e6ebff;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons {
                margin-top: 30px;
                border-top: 1px solid #41414d;
                padding-top: 40px;
            }

            #w3lDemoBar.w3l-demo-bar .demo-btns {
                border-top: 1px solid #41414d;
                padding-top: 30px;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
                font-size: 26px;
            }

            #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
                margin-bottom: 0;
            }

            .toggle-right-sidebar span {
                background: #0D1326;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #e6ebff;
                border-radius: 50px;
                font-size: 26px;
                cursor: pointer;
                opacity: .5;
            }

            .pull-right {
                float: right;
                position: fixed;
                right: 0px;
                top: 70px;
                width: 90px;
                z-index: 99999;
                text-align: center;
            }

            /* ============================================================
RIGHT SIDEBAR SECTION
============================================================ */

            #right-sidebar {
                width: 90px;
                position: fixed;
                height: 100%;
                z-index: 1000;
                right: 0px;
                top: 0;
                margin-top: 60px;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                overflow-y: auto;
            }

            .hide-right-bar-notifications {
                margin-right: -300px !important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }



            @media (max-width: 992px) {
                #w3lDemoBar.w3l-demo-bar a.desktop-mode {
                    display: none;

                }
            }

            @media (max-width: 767px) {
                #w3lDemoBar.w3l-demo-bar a.tablet-mode {
                    display: none;

                }
            }

            @media (max-width: 568px) {
                #w3lDemoBar.w3l-demo-bar a.mobile-mode {
                    display: none;
                }

                #w3lDemoBar.w3l-demo-bar .responsive-icons {
                    margin-top: 0px;
                    border-top: none;
                    padding-top: 0px;
                }

                #right-sidebar,
                .pull-right {
                    width: 90px;
                }

                #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
                    margin-bottom: 0;
                }
            }
        </style>
        <div class="pull-right toggle-right-sidebar">
            <span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
        </div>

        <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
            <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">

                <div id="w3lDemoBar" class="w3l-demo-bar">
                    <div class="demo-btns">
                        <a href="https://w3layouts.com/?p=">
                            <span class="w3l-icon -back">
                                <span class="fa fa-arrow-left"></span>
                            </span>
                            <span class="w3l-text">Back</span>
                        </a>
                        <a href="https://w3layouts.com/?p=">
                            <span class="w3l-icon -download">
                                <span class="fa fa-download"></span>
                            </span>
                            <span class="w3l-text">Download</span>
                        </a>
                        <a href="https://w3layouts.com/checkout/?add-to-cart=" class="no-margin-bottom-mobile">
                            <span class="w3l-icon -buy">
                                <span class="fa fa-shopping-cart"></span>
                            </span>
                            <span class="w3l-text">Buy</span>
                        </a>
                    </div>
                    <!---<div class="responsive-icons">
            <a href="#url" class="desktop-mode">
                <span class="w3l-icon -desktop">
                    <span class="fa fa-desktop"></span>
                </span>
            </a>
            <a href="#url" class="tablet-mode">
                <span class="w3l-icon -tablet">
                    <span class="fa fa-tablet"></span>
                </span>
            </a>
            <a href="#url" class="mobile-mode no-margin-bottom">
                <span class="w3l-icon -mobile">
                    <span class="fa fa-mobile"></span>
                </span>
            </a>
        </div>-->
                </div>
                <div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003"
                    style="overflow: hidden; outline: none;">
                </div>
            </div>
        </div>
        </div>


        <!-- Headers-4 block -->
        <%-include('themepart/header');-%>
            <!-- Headers-4 block -->

            <script src="assets/js/jquery-3.3.1.min.js"></script>
            <script>
                $('#drop').change(function () {
                    if ($('#drop').is(":checked")) {
                        $('body').css('overflow', 'hidden');
                    } else {
                        $('body').css('overflow', 'auto');
                    }
                });
            </script>
            <!-- covers -->
            <section class="w3l-covers-9-main">
                <div class="covers-9">
                    <div class="csslider infinity" id="slider1">
                        <input type="radio" name="slides" checked="checked" id="slides_1" />
                        <input type="radio" name="slides" id="slides_2" />
                        <input type="radio" name="slides" id="slides_3" />
                        <input type="radio" name="slides" id="slides_4" />
                        <ul class="banner_slide_bg">
                            <li>
                                <div class="wrapper">
                                    <div class="cover-top-center-9">
                                        <div class="w3ls_cover_txt-9">
                                            <h6 class="tag-cover-9"><span class="fa fa-apple" aria-hidden="true"></span>
                                                100% Natural</h6>
                                            <h3 class="title-cover-9">Fresh and organic fruits</h3>
                                            <p class="para-cover-9">Once aute irure dolor in reprehenderit in voluptate
                                                velit
                                                esse cillum dolore eu fugiat nulla pariatur consectetur adipiscing elit
                                                eu fugiat nulla laudantium sunt in culpa qui.</p>
                                            <a href="about" class="actionbg button-cover-9">Read More</a>
                                            <a href="e-commerce" class="actionbg-border button-cover-9">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wrapper">
                                    <div class="cover-top-center-9">
                                        <div class="w3ls_cover_txt-9">
                                            <h6 class="tag-cover-9"><span class="fa fa-apple" aria-hidden="true"></span>
                                                100% Natural</h6>
                                            <h3 class="title-cover-9">Oranic products grown with love</h3>
                                            <p class="para-cover-9">Excepteur sint occaecat cupidatat non proident, sunt
                                                in
                                                culpa qui officia sed deserunt mollit anim id est laborum mollit anim id
                                                est nulla laudantium sunt in culpa qui.</p>
                                            <a href="about" class="actionbg button-cover-9">Read More</a>
                                            <a href="e-commerce" class="actionbg-border button-cover-9">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wrapper">
                                    <div class="cover-top-center-9">
                                        <div class="w3ls_cover_txt-9">
                                            <h6 class="tag-cover-9"><span class="fa fa-apple" aria-hidden="true"></span> 100% Natural</h6>
                                            <h3 class="title-cover-9">A Huge variety of the freshest fruits</h3>
                                            <p class="para-cover-9">Sed ut perspiciatis unde omnis iste natus error sit
                                                voluptatem accus antium dolor emque laudantium sunt in culpa qui laborum eu fugiat nulla laudantium sunt in culpa qui.</p>
                                            <a href="about" class="actionbg button-cover-9">Read More</a>
                                            <a href="e-commerce" class="actionbg-border button-cover-9">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wrapper">
                                    <div class="cover-top-center-9">
                                        <div class="w3ls_cover_txt-9">
                                            <h6 class="tag-cover-9"><span class="fa fa-apple" aria-hidden="true"></span>
                                                100% Natural</h6>
                                            <h3 class="title-cover-9">Huge variety of fresh vegetables</h3>
                                            <p class="para-cover-9"></p>
                                            <a href="about" class="actionbg button-cover-9">Read More</a>
                                            <a href="e-commerce" class="actionbg-border button-cover-9">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="arrows">
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                            <label for="slides_4"></label>
                        </div>
                        <div class="navigation">
                            <div>
                                <label for="slides_1"></label>
                                <label for="slides_2"></label>
                                <label for="slides_3"></label>
                                <label for="slides_4"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //covers -->
            <!-- w3l-bottom-menu-7 -->
            <section class="w3l-bottom-menu-7" id="about">
                <div class="bottom-nav-menu">
                    <div class="wrapper">
                        <div class="hny-nav">
                            <div class="left-grid">
                                <h3>Our Fruitant Products</h3>
                            </div>
                            <div class="right">
                                <p>Farmers Magic isn't just another fruit delivery service; it's a celebration of local
                                    produce, a boost to small-scale farmers, and a commitment to providing wholesome,
                                    farm-fresh fruits to the people of Ahmedabad. So, if you're in the vibrant city of
                                    Ahmedabad and craving the finest fruits, give Farmers Magic a try, and experience
                                    the magic of farm-fresh goodness at your doorstep within 12 hours</p>
                                <div class="menu_sur menu-top_sur">
                                    <div>
                                        <span class="fa fa-yelp" aria-hidden="true"></span>
                                        <a href="services">Agriculture Products</a>
                                    </div>
                                    <div>
                                        <span class="fa fa-home" aria-hidden="true"></span>
                                        <a href="services">Agric Farm factory</a>
                                    </div>
                                    <div>
                                        <span class="fa fa-leaf" aria-hidden="true"></span>
                                        <a href="services">100% Natural products</a>
                                    </div>
                                    <div>
                                        <span class="fa fa-gift" aria-hidden="true"></span>
                                        <a href="services">Modern Technique</a>
                                    </div>
                                    <div>
                                        <span class="fa fa-shopping-basket" aria-hidden="true"></span>
                                        <a href="services">Fresh Vegetables</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //w3l-bottom-menu-7 -->

            <!-- content-photo-5 -->
            <div class="w3l-content-photo-5">
                <div class="content">
                    <div class="wrapper">
                        <div class="d-grid">
                            <div class="content-left">
                                <h5>Locally Grown - 100% Natural</h5>
                                <h3>The Huge variety of the freshest fruits and vegetables</h3>
                                <p>While fresh vegetables should be a part of your everyday meals, some vegetables are hard to find even in the huge supermarkets in your area. Geographical barriers are easily overcome in more than 25 major cities, thereby giving you the benefit of fresh fruits and vegetables every time.</p>
                                <a href="01-blog">Read More </a>
                            </div>
                            <div class="content-photo">
                                <a href="#image"><img src="assets/images/about.jpg" class="img-responsive"
                                        alt="content-photo"></a>

                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!-- //content-photo-5 -->

            <!-- call to action -->
            <section class="w3l-call-to-action_9">
                <div class="call-w3">
                    <div class="wrapper">
                        <div class="d-grid main-cont-wthree-2">
                            <div class="right-call-wthree">
                                <h3 class="ban-text-2">Fruitant market - Fruits, Vegetables & organic foods</h3>
                                <p class="text-para">The organic fruits and vegetables market is rapidly expanding globally, driven by increasing awareness of the health benefits associated with natural and nutritious products. Concerns about chronic illnesses linked to processed foods and unhealthy lifestyles are prompting consumers to seek organic alternatives. Processed products derived from organic fruits and vegetables, such as syrups, confections, and juices, are gaining popularity as companies respond to the demand for convenient and health-conscious options. The organic movement extends to skincare, with brands incorporating organically grown ingredients to meet consumer preferences for organic products. Major players like Garnier have capitalized on this trend, launching organic skincare lines in response to growing consumer demand.</p>
                              
                                <a href="services" class="button-effe-2">Know More</a>
                            </div>
                            <div class="left-contect-calls">
                                <div class="call-grids-w3 d-grid">
                                    <div class="grids-1 grids-effect">
                                        <h4><a href="#feature" class="title-head">Fruits and Vegetables</a></h4>
                                        <p>fruits and vegetables are classified depending on which part of the plant they come from.</p>
                                        <a href="#more"><span class="fa fa-check-circle"></span></a>
                                    </div>
                                    <div class="grids-1 grids-effect-2">
                                        <h4><a href="#feature" class="title-head">Organic and Natural</a></h4>
                                        <p>Trusted organic vegetables and fruits. Order online for delivery.</p>
                                        <a href="#more"><span class="fa fa-check-circle"></span></a>
                                    </div>
                                    <div class="grids-1 grids-effect-2">
                                        <h4><a href="#feature" class="title-head">Nutrition and Healthy</a></h4>
                                        <p>A healthy diet is essential for good health. It protects you against  diseases.</p>
                                        <a href="#more"><span class="fa fa-check-circle"></span></a>
                                    </div>
                                    <div class="grids-1 grids-effect-2">
                                        <h4><a href="#feature" class="title-head">Fresh and Pure quality</a></h4>
                                        <p>To select high-quality fresh fruits and vegetables and fruits.</p>
                                        <a href="#more"><span class="fa fa-check-circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //call to action -->
            <!-- feature with photo1 -->
            <section class="w3l-feature-with-photo-1">
                <div class="feature-with-photo">
                    <div class="wrapper">
                        <div class="feature-with-photo-content">
                            <h3>Welcome to our healthy Fruitant company</h3>
                            <p> When you truly understand that your food choices are powerful and life affirming , you can exercise control and restraint without deprivation.</p>
                            <img src="assets/images/all.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </section>
            <!-- //feature with photo1 -->

            <!-- /form-26-section -->
         
            <!-- //form-26-section -->

            <!-- footer-28 block -->
            <%-include('themepart/footer');-%>
                <!-- //footer-28 block -->

                <!-- move top -->
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-up"></span>
                </button>
                <script data-cfasync="false"
                    src="../../../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script>
                    // When the user scrolls down 20px from the top of the document, show the button
                    window.onscroll = function () {
                        scrollFunction()
                    };

                    function scrollFunction() {
                        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                            document.getElementById("movetop").style.display = "block";
                        } else {
                            document.getElementById("movetop").style.display = "none";
                        }
                    }

                    // When the user clicks on the button, scroll to the top of the document
                    function topFunction() {
                        document.body.scrollTop = 0;
                        document.documentElement.scrollTop = 0;
                    }
                </script>
                <!-- /move top -->

                <script>(function () { var js = "window['__CF$cv$params']={r:'8475927b7ca8032e',t:'MTcwNTU2NzYzNi45NDQwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../../../../cdn-cgi/challenge-platform/h/b/scripts/jsd/c8377512/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
    </body>


    <!-- Mirrored from p.w3layouts.com/demosWTR/Freedom/30-11-2019/fruitant-freedom-web-demo_Free/725621093/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Jan 2024 08:47:31 GMT -->

</html>